html{
    font-size: 16px;
}
body{
    background-color: #ffffff;
}

.content{
    width: 1366px;
    /* height: 100px; */
    /* background: red; */
    margin: 0 auto;
}

.content>div{
    width: 80%;
    margin:  0 auto;
}
.grjl{
    background: #F1F1F1;
}

.tx{
    float: left;
    margin-right: 2.2rem;
}

.grjl_nr{
    margin: 0 0 0 3.75rem;
    padding-bottom: 3.125rem;
    padding-top: 3rem;
}

.grjl_nr >h1{
    font-size: 3rem;
    font-family: '微软雅黑';
}

.grjl_nr>p{
    font-family: '宋体';
    font-size: 1.47rem;
    font-weight: 600;
    text-indent:3.125rem;
    letter-spacing: 2px;
    line-height: 2rem;
    margin-top: 1rem;
}

.title{
    background: #4A4F5A;
    color: #FFFFFF;
    width: 15rem;
    height: 3.25rem;
    border-radius: 10px;
    margin-left: 1.43rem;
    line-height: 3.25rem;
    text-align: center;
    font-weight: 600;
    font-size: 1.38rem;
    letter-spacing: 2px;
    position: relative;
    bottom: 1.56rem;
}
.qwhy{
    background: #FFFFFF;
}
.qwhy_nr{
    text-align: center;
    line-height: 1.56rem;
}
.qwhy_nr>div{
    display: inline-block;
    width: 49%;
}
.gzjl{
    /* background: red; */
}

.gzjl>.gsinfo,
.jntc>.jntc_nr{
    margin-left: 5.94rem;
    margin-bottom: 1rem;
}
.gsmc{
    font-weight: 600;
    font-size: 18px;
    margin-right: 0.63rem;
}

.zyzn{
    margin-top: 0.63rem;
    margin-left: 1rem;
    letter-spacing: 2px;
    line-height: 1.63rem;
}

.jntc>.jntc_nr{
    letter-spacing: 2px;
    line-height: 1.63rem;
}
.jntc>.jntc_nr>div{
    margin-left: 1rem;
}

.lxfs_nr svg{
    width: 2.8rem;
    height: 2.8rem;
    vertical-align:middle;
    margin-left: 5.94rem;
}
.lxfs_nr{
    /* text-align: center; */
}
.lxfs_nr > p{
    display: inline-block;
    width: 49%;
}
